node_modules/
dist/
coverage/

.env
.env.local
.env.stage
.env.*.local

*.log
.pnpm-debug.log*
lerna-debug.log*

*.tsbuildinfo

.idea/
.vscode/

.DS_Store
Thumbs.db

# Generated GraphQL schema during tests
/src/schema.gql
