PORT=3040
SERVICE_NAME=log-service

DB_HOST=postgres
# DB_HOST=localhost
DB_PORT=5432
DB_NAME=yupi
DB_USERNAME=postgres
DB_PASSWORD=postgres

KAFKA_BROKER=kafka:9092
# KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=logging-service-client
KAFKA_GROUP_ID=logging-service-group

NODE_ENV=development
